<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Get Live scores, results, media, livestreams and much more from current and past SAISA Events!">
  <meta name="author" content="Anuda Weerasinghe">
  <title>Media | SAISA Live</title>
  <!-- Favicon -->
  <link rel="icon" href="assets/imgs/1-logo.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body  ng-app="myApp" ng-controller="media-controller">
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-brand bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="assets/imgs/transparent-horizontal.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="fas fa-flag text-gray"></i>
                <span class="nav-link-text">Scores</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="meets.html">
                <i class="fas fa-running text-gray"></i>
                <span class="nav-link-text">Meets</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="live-streams.html">
                <i class="fas fa-tv text-gray"></i>
                <span class="nav-link-text">Live Streams</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="media.html">
                <i class="fas fa-photo-video text-primary"></i>
                <span class="nav-link-text">Media</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="events.html">
                <i class="ni ni-trophy text-gray"></i>
                <span class="nav-link-text">Events</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->

          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                   data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">SAISA Live</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-photo-video"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Media</a></li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right" ng-if="currentStatus===1">
              <a href="#" class="btn btn-sm btn-neutral" ng-click="changeStatus(1)">Photos</a>
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(2)">Videos</a>
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(3)">News</a>
            </div>
            <div class="col-lg-6 col-5 text-right" ng-if="currentStatus===2">
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(1)">Photos</a>
              <a href="#" class="btn btn-sm btn-neutral" ng-click="changeStatus(2)">Videos</a>
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(3)">News</a>
            </div>
            <div class="col-lg-6 col-5 text-right" ng-if="currentStatus===3">
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(1)">Photos</a>
              <a href="#" class="btn btn-sm btn-primary" ng-click="changeStatus(2)">Videos</a>
              <a href="#" class="btn btn-sm btn-neutral" ng-click="changeStatus(3)">News</a>
            </div>
          </div>
          <!-- Card stats -->


        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">

        <div class="col-xl-12" ng-if="accessGranted===false&&currentStatus===1">
          <div class="card">
            <div class="card-header border-0">
              <p>For privacy reasons, you need an access code to gain access to Photos from SAISA Events.</p>
              <br>
              <p>Contact your school's/team's Athletic Director to get an Access Code that will grant you access</p>
              <br>
              <button class="btn-primary" data-toggle="modal" data-target="#accessCodeModal" style="width: 100%; border-radius: 10px; font-size: 14pt; background: #ef5350; border: #ef5350" >I Have an Access Code</button>

            </div>
          </div>
        </div>
        <div class="col-xl-4" ng-repeat="items in media | orderBy: reverse:true" ng-if="accessGranted===true||currentStatus!=1">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2 class="mb-0">{{items.title}}</h2>
                  <h5 class="card-title text-uppercase text-muted mb-0">{{items.timestamp}}</h5>
                  <br>
                </div>

              </div>
              <center>
              <img src="{{items.coverImg}}" height="250px" style="max-width: 100%">
              </center>
              <br>

              <button class="btn-primary" ng-if="currentStatus===1" style="width: 100%; border-radius: 10px; font-size: 14pt" ng-click="watchLive(items.contentUrl)">View Photos</button>
              <button class="btn-primary" ng-if="currentStatus===2" style="width: 100%; border-radius: 10px; font-size: 14pt" ng-click="watchLive(items.contentUrl)">View Videos</button>
              <button class="btn-primary" ng-if="currentStatus===3" data-toggle="modal" data-target="#newsModal"  style="width: 100%; border-radius: 10px; font-size: 14pt" ng-click="viewNews(items.title, items.coverImg, items.text, items.timestamp)">View News</button>

            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="accessCodeModal" tabindex="-1" role="dialog" aria-labelledby="accessCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="accessCodeModalLabel">Enter Access Code</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <div class="row align-items-center">
                  <div class="col">
                    <h5>{{responseMsg}}</h5>
                    <input class="form-control" placeholder="Your Access Code" type="text" ng-model="accessCode">
                  </div>

                </div>
                <br>
                <!-- Projects table -->

              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-neutral" data-dismiss="modal">Back</button>
              <button type="button" class="btn btn-primary" ng-click="checkAccessCode()">Check Access Code</button>

            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="newsModalLabel">News Item</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <div class="row align-items-center">
                  <div class="col">
                    <h1 class="mb-0" >{{newsTitle}}</h1>

                    <h5 class="card-title text-uppercase text-muted mb-0">{{newsTime}}</h5>

                    <img src="{{newsImg}}" width="100%">


                    <p><br>{{newsText}}
                      </p>
                  </div>

                </div>
                <br>
                <!-- Projects table -->

              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center">
          <div class="col-lg-4">

            <div class="copyright text-center  text-lg-left  text-muted">
              Developed by <a href="http://anuda.me" class="font-weight-bold ml-1"
                             target="_blank">Anuda Weerasinghe.</a>
            </div>
          </div>

          <div class="col-lg-8">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <div class="copyright text-center  text-lg-left  text-muted">
                  &copy; 2020 The South Asian Inter-Scholastic Association</div>


              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
